.watch {
    position: fixed;
    width: 600px;
    height: 600px;
    z-index: 1;
  
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);

}


@media screen and (max-width:1050px) {
    .watch {
    
        left: 50%;
        top: 70%;
    }

}

 @media screen and (max-width:900px) {
    .watch {
        left: 60%;
    }
} 

