.watch {
    position: fixed;
    width: 600px;
    height: 600px;
    z-index: 1;
    border: 1px solid red;
    /* translate: none;
    scale: none; */
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* width: 100%;
    height: 100%; */
    /* box-sizing: border-box; */
}

/* canvas {
    aspect-ratio: auto;
    width: 100%;
    height: 100%;
} */

@media screen and (max-width:1050px) {
    .watch {
        /* width: 450px;
        height: 450px; */
        left: 50%;
        top: 70%;
    }

}

 @media screen and (max-width:900px) {
    .watch {
        /* width: 350px;
        height: 350px; */
        left: 60%;
    }
} 

/* @media screen and (max-width:600px) {
    .watch {
        width: 200px;
        height: 200px;
    }

}  */